<section class="field date-field">
  <div class="control-group">
    {{fields/dj-field-label label=label field=field}}

    <div class="controls">
      <div class="controls-row">
        {{input
          type="date"
          value=(readonly localTime)
          input=(action "convertToUniversalTime" value="target.value")
        }}

        {{#if field.value}}
          {{d-button
            icon="trash-alt"
            action=(action (mut field.value) value=null)
          }}
        {{/if}}
      </div>
    </div>
  </div>
</section>