<section class="field date-field">
  <div class="control-group">
    {{fields/dj-field-label label=this.label field=this.field}}

    <div class="controls">
      <div class="controls-row">
        {{input
          type="date"
          value=(readonly this.localTime)
          input=(action "convertToUniversalTime" value="target.value")
        }}

        {{#if this.field.value}}
          {{d-button
            icon="trash-alt"
            action=(action (mut this.field.value) value=null)
          }}
        {{/if}}
      </div>
    </div>
  </div>
</section>