<div class="field control-group">
  {{fields/dj-field-label label=this.label field=this.field}}

  <div class="controls">
    {{combo-box
      value=this.field.value
      content=this.replacedContent
      onChange=(action (mut this.field.value))
      options=(hash allowAny=false disabled=this.field.isDisabled)
    }}
  </div>
</div>