<div class="field control-group">
  {{fields/dj-field-label label=this.label field=this.field}}

  <div class="controls">
    <MultiSelect
      @content={{this.replacedContent}}
      @value={{this.field.value}}
      @onChange={{action (mut this.field.value)}}
    />
  </div>
</div>