.post-controls {
  .create-jira-issue {
    .d-button-label {
      margin-left: 7px;
    }
  }

  .actions {
    position: relative;

    .post-jira-menu .btn {
      color: var(--primary);
    }
  }
}

.discourse-jira-create-modal {
  .jira-title {
    width: 100%;
  }
}

.post-jira-menu {
  left: 15px;
  right: auto;
}
