.post-controls {

  .actions {
    position: relative;

    .post-jira-menu {
      position: absolute;
      bottom: auto;

      .btn {
        color: var(--primary);
      }
    }
  }
}

.modal-inner-container .create-issue {
  input[type="text"],
  .select-kit {
    width: 100%;
    min-width: 220px;
  }
  summary {
    margin-bottom: 10px;
  }
}

.post-jira-menu {
  left: 15px;
  right: auto;
}
