.post-controls {
  .create-jira-issue {
    .d-button-label {
      margin-left: 7px;
    }
  }

  .actions {
    position: relative;

    .post-jira-menu .btn {
      color: var(--primary);
    }
  }
}

.modal-inner-container .create-issue {
  input[type="text"] {
    width: 100%;
  }
  summary {
    margin-bottom: 10px;
  }
}

.post-jira-menu {
  left: 15px;
  right: auto;
}
