<div class="field control-group">
  {{fields/dj-field-label label=label field=field}}

  <div class="controls">
    <MultiSelect
      @content={{replacedContent}}
      @value={{field.value}}
      @onChange={{action (mut field.value)}}
    />
  </div>
</div>