<section class="field text-field">
  <div class="control-group">
    {{fields/dj-field-label label=label field=field}}

    <div class="controls">
      <div class="field-wrapper">
        {{d-textarea
          value=field.metadata.value
          input=(action (mut field.metadata.value) value="target.value")
        }}
      </div>
    </div>
  </div>
</section>
